* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #222225 16.62%, #52568e 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalhoImagem {
    height: 72px;
}

.cabecallhoMenu {
    display: flex;
    gap: 32px;
}

.menuItem {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principalEscrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principalEscritoh1 {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
}

.principalEscritoh2 {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
}

.butao {
    background-color: ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    color: #2F2325;
}

.butao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.principalImagem {
    height: 300px;
}

.conteudoSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.conteudoSecundarioTitulo {
    border-top: 0.4px solid #FFF2E7;
    font-family: 'Rightteous', cursive;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16PX;
}

.conteudoSecundarioP1 {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    color: #ECD6C4;
}

.rodape {
    padding: 15px;
    border-top: 0.3px solid #FFF2E7;
}

.rodapeImagem {
    height: 30px;
    display: block;
    margin: 0 auto;
}